<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>630060012887-35rcjh6fgh3ehe39me2va3epmg7sg5dd.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.630060012887-35rcjh6fgh3ehe39me2va3epmg7sg5dd</string>
        <key>API_KEY</key>
        <string>AIzaSyAuCZxAfjdgwNKXaxJUX3WUH88vi8gGuTw</string>
        <key>GCM_SENDER_ID</key>
        <string>630060012887</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.sg.next.wellness.DietLens</string>
        <key>PROJECT_ID</key>
        <string>dietlens-2e13f</string>
        <key>STORAGE_BUCKET</key>
        <string>dietlens-2e13f.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <false></false>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:630060012887:ios:0275791d7d8daf8f</string>
        <key>DATABASE_URL</key>
        <string>https://dietlens-2e13f.firebaseio.com</string>
    </dict>
</plist>
