<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>273175746577-7iarkfd3snlqv4us3v3psgovf03qtq5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273175746577-7iarkfd3snlqv4us3v3psgovf03qtq5d</string>
	<key>API_KEY</key>
	<string>AIzaSyCCt4YbJlm-Q1TLv2aMpqqHYBknD_Txzrs</string>
	<key>GCM_SENDER_ID</key>
	<string>273175746577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.next.wellness.DietLens</string>
	<key>PROJECT_ID</key>
	<string>dietlens</string>
	<key>STORAGE_BUCKET</key>
	<string>dietlens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273175746577:ios:507da8aee55beb82</string>
	<key>DATABASE_URL</key>
	<string>https://dietlens.firebaseio.com</string>
</dict>
</plist>